GetHairdresser.Client/Service References/MessagesService/MessagesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GetHairDresser.Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GetHairDresser.Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/GetHairDresser.Service/MessagesService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GetHairDresser.Common" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GetHairDresser.Common" minOccurs="0" name="receiverID" nillable="true" type="q1:User" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GetHairDresser.Common" minOccurs="0" name="senderID" nillable="true" type="q2:User" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="HairdresInfo">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GetHairDresser.Common" minOccurs="0" name="HairdressID" nillable="true" type="q3:User" />
      <xs:element minOccurs="0" name="HairdressInfoID" type="xs:int" />
      <xs:element minOccurs="0" name="map_data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HairdresInfo" nillable="true" type="tns:HairdresInfo" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
</xs:schema>