GetHairdresser.Client/Service References/MessagesService/MessagesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/GetHairDresser.Service/MessagesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GetHairDresser.Common.Entities" />
  <xs:element name="AddMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GetHairDresser.Common.Entities" minOccurs="0" name="message" nillable="true" type="q1:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GetHairDresser.Common.Entities" minOccurs="0" name="message" nillable="true" type="q2:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListMessagesForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListMessagesForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GetHairDresser.Common.Entities" minOccurs="0" name="GetListMessagesForUserResult" nillable="true" type="q3:ArrayOfMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>