GetHairdresser.Client/Service References/HairdressInfoServices/HairdressInfoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GetHairDresser.Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GetHairDresser.Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/GetHairDresser.Service/HairdressInfoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GetHairDresser.Common" />
  <xs:complexType name="HairdresInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GetHairDresser.Common" minOccurs="0" name="HairdressID" nillable="true" type="q1:User" />
      <xs:element minOccurs="0" name="HairdressInfoID" type="xs:int" />
      <xs:element minOccurs="0" name="map_data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HairdresInfo" nillable="true" type="tns:HairdresInfo" />
</xs:schema>