GetHairdresser.Client/Service References/HairdressInfoServices/HairdressInfoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/GetHairDresser.Service/HairdressInfoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GetHairDresser.Common.Entities" />
  <xs:element name="GetHairdressInform">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHairdressInformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GetHairDresser.Common.Entities" minOccurs="0" name="GetHairdressInformResult" nillable="true" type="q1:HairdresInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHairdressInform">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GetHairDresser.Common.Entities" minOccurs="0" name="info" nillable="true" type="q2:HairdresInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHairdressInformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetHairdressInformResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>