GetHairdresser.Client/Service References/HairdressInfoServices/HairdressInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HairdressInfoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/GetHairDresser.Service/HairdressInfoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/GetHairDresser.Service/HairdressInfoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/GetHairDresser.Service/HairdressInfoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GetHairDresser.Common.Entities" />
      <xsd:import schemaLocation="http://localhost/GetHairDresser.Service/HairdressInfoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GetHairDresser.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHairdressInfoService_GetHairdressInform_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHairdressInform" />
  </wsdl:message>
  <wsdl:message name="IHairdressInfoService_GetHairdressInform_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHairdressInformResponse" />
  </wsdl:message>
  <wsdl:message name="IHairdressInfoService_SetHairdressInform_InputMessage">
    <wsdl:part name="parameters" element="tns:SetHairdressInform" />
  </wsdl:message>
  <wsdl:message name="IHairdressInfoService_SetHairdressInform_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetHairdressInformResponse" />
  </wsdl:message>
  <wsdl:portType name="IHairdressInfoService">
    <wsdl:operation name="GetHairdressInform">
      <wsdl:input wsaw:Action="http://tempuri.org/IHairdressInfoService/GetHairdressInform" message="tns:IHairdressInfoService_GetHairdressInform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHairdressInfoService/GetHairdressInformResponse" message="tns:IHairdressInfoService_GetHairdressInform_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetHairdressInform">
      <wsdl:input wsaw:Action="http://tempuri.org/IHairdressInfoService/SetHairdressInform" message="tns:IHairdressInfoService_SetHairdressInform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHairdressInfoService/SetHairdressInformResponse" message="tns:IHairdressInfoService_SetHairdressInform_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHairdressInfoService" type="tns:IHairdressInfoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHairdressInform">
      <soap:operation soapAction="http://tempuri.org/IHairdressInfoService/GetHairdressInform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetHairdressInform">
      <soap:operation soapAction="http://tempuri.org/IHairdressInfoService/SetHairdressInform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HairdressInfoService">
    <wsdl:port name="BasicHttpBinding_IHairdressInfoService" binding="tns:BasicHttpBinding_IHairdressInfoService">
      <soap:address location="http://localhost/GetHairDresser.Service/HairdressInfoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>